* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive, sans-serif;
  background-color: #1f5245;
  color: #fff;
}

.hell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#countdown {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 3px 3px #ff0000;
}
